body{
  display: flex;
  font-family: sans-serif;
}

#chat-container {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}
#chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - 50px);
}
#chat-input {
  margin-top: 10px;
}
#message-input {
  width: calc(100% - 100px);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  outline: none;
  border: 1px solid #007BFF;
}
#send-button {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
  float: left;
}

.messaage_content_group{
  display: flex;
}

.user-avatar{
  height: 40px;
}

.chat-message {
  width: max-content;
  max-width: 350px;
  background-color: rgb(255, 162, 162);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  clear: both;
}
.chat-message p {
  margin: 0;
}
.chat-message .name {
  font-size: 15px;
  font-weight: 700;
  margin-top: -5px;
}
.my-message {
  align-self: flex-end;
  width: max-content;
  max-width: 350px;
  background-color: rgb(118, 255, 124);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: end;
  clear: both;
}
.my-message p {
  margin: 0;
}

.date{
  margin-top: 20px;
  margin-left: 8px;
  font-size: 10px;
  color: rgb(89, 89, 89);
}

#chat-bar{
  width: 200px;
  height: 500px;
  margin-right: -310px;
  margin-left: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

.chats{
  display: flex;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}
.chats > p {
  margin-left: 20px;
}